.header-container{
    display: flex;
    align-items: center;
    height: 90px;
    width: 100%;
}
.header-container h1{
    display: inline;
    margin-left: 50px;
}
.header-container img{
    width: 150px;
    height: 50px;
    margin-left: 50px;
}
@media screen and (max-width:768px ) {
    .header-container{
        width: 100%;
    }
    .header-container h1{
        font-size: 20px;
    }
    
}